.mat-list-item {
    height: auto;
    margin-bottom: 10px;

    .mat-list-item-content {
        display: block;
    }

    .mat-card {
        width: 100%;
        display: flex;

        .card-content-container {
            flex: 1;

            .mat-card-title {
                font-weight: 500;
                font-size: 18px;
            }
        }

        .card-action-container {
            flex: 0;
            display: inline-flex;
            align-items: center;
        }
    }
}
