@import './src/styles';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.app-nav-bar__spacer {
    flex: 1;
}

.app-nav-bar__item {
    height: 100%;
    display: inline-flex;
    align-items: center;

    &.active {
        color: mat-color(map_get($address-frontend-theme, accent));
    }
}
