.mat-toolbar {
    position: fixed;
    z-index: 1;
    height: 52px;
    font-size: 22px
}

.page-content {
    padding-top: 92px;
}

.add-button-container {
    position: fixed;
    z-index: 10;
    right: 10%;
    margin-top: 20px;
}
